@page
@model MeasurementApp.Pages.MeasurementModel
@{
     ViewData["Title"] = "Measurement Parameters";
}

    <div>

        <h1>Measurement Parameters</h1>

        Below you see all the Measurement Names registered in the Database:

        <table class="table">
            <thead>
                <tr>
                    <th>MeasurementId</th>
                    <th>Measurement Name</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var measurement in Model.measurementParameterList)
                {
                    <tr>
                        <td> @measurement.MeasurementId</td>
                        <td> @measurement.MeasurementName</td>
                        <td> @measurement.MeasurementUnit</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>